/* Contenedor de proyectos */
.containerProyectos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    text-align: center;
  }
  
  .country-card {
    background-color: var(--bs-card-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: 8px;
    width: 300px;
    box-shadow: 0px 4px 12px rgb(42, 79, 180);
    transition: transform 0.3s ease;
  }
  
  .country-card:hover {
    transform: scale(1.05);
  }
  
  .card-body {
    padding: 16px;
    position: relative;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 12px;
  }
  
  .country-code-big {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 8px;
  }
  
  .country-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--bs-primary);
  }
  
  .badge {
    background-color: #deeafc;
    color: #2a4fb4;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: 600;
  }
  
  hr {
    margin: 12px 0;
    border: none;
    border-top: 1px solid #ddd;
  }
  
  .project-info {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: var(--bs-body-color);
    gap: 6px;
    margin-bottom: 16px;
  }
  
  .project-info i {
    color: var(--bs-primary);
  }
  
  .project-btn {
    background-color: #1ec6f5;
    color: white;
    font-weight: 600;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .project-btn:hover {
    background-color: #17b2de;
  }
  
  .project-btn i {
    margin-left: 8px;
  }
  
  