<!-- proyectos.component.html o donde llames al modal
<button (click)="abrirModal()" class="btn btn-primary mb-3">
  <i class="fas fa-plus"></i> Nuevo Proyecto
</button>

 Modal para crear proyecto 
<app-crear-proyecto 
  *ngIf="mostrarModalProyecto"
  (proyectoCreado)="onProyectoCreado($event)"
  (cerrarModal)="cerrarModalProyecto()">
</app-crear-proyecto> -->

<h2>Proyectos</h2>
<div class="containerProyectos">
  <div class="card project-card" *ngFor="let proyecto of proyectos">
    <div class="card-body">
      <h3 class="project-name">{{ proyecto.nombreproyecto }}</h3>
      
      <p>Inicio: {{ proyecto.fecha_inicio| date }}</p>
      <p>Fin: {{ proyecto.fecha_termino| date }}</p>
      <p>Creado por: {{proyecto.nombreUsuario}}</p>
      <p class="project-code">Pais: {{proyecto.cod}}</p>
      <a (click)="seleccionarProyecto(proyecto.idproyecto)" class="btn btn-outline-primary view-link" (keydown.enter)="seleccionarProyecto(proyecto.idproyecto)" tabindex="0">
        Ver proyectos
        <i class="bi bi-chevron-right"></i>
      </a>
    </div>
  </div>
</div>
