<h2>Proyectos</h2>
<div class="containerProyectos">
  <div class="card proyecto-card" *ngFor="let proyecto of proyectos" (click)="seleccionarProyecto(proyecto.idproyecto)" tabindex="0" (keydown.enter)="seleccionarProyecto(proyecto.idproyecto)">
    <div class="card-body">
      <h4 class="project-name">{{ proyecto.nombreproyecto }}</h4>
      <p>Inicio: {{ proyecto.fecha_inicio| date }}</p>
      <p>Fin: {{ proyecto.fecha_termino| date }}</p>
      <p>Creado por: {{proyecto.nombreUsuario}}</p>
      <p>Pais: {{proyecto.cod}}</p>
    </div>
  </div>
</div>
