<!-- Navbar -->
<nav
  *ngIf="loginDisplay"
  class="navbar navbar-expand-lg"
  [ngClass]="{ 'dark-theme': isDarkMode }"
>
  <div class="container-fluid">
    <!-- Logo y título -->
    <a
      class="navbar-brand text-white d-flex align-items-center"
      routerLink="/"
    >
      <i class="bi bi-bar-chart me-2"></i> Portal de Auditoría
    </a>

    <!-- Botón de colapso para móviles -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarContent"
    >
      <!-- Botón de Login -->
      <button
        *ngIf="!loginDisplay"
        class="btn btn-outline-primary me-2"
        (click)="loginRedirect()"
      >
        Login
      </button>

      <!-- Menú de usuario -->
      <ng-container *ngIf="loginDisplay">
        <div class="dropdown">
          <button
            class="btn btn-primary dropdown-toggle d-flex align-items-center"
            type="button"
            id="userDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-person-circle me-2"></i> <span>Usuario</span>
          </button>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="userDropdown"
          >
            <li>
              <a class="dropdown-item" routerLink="/profile">
                <i class="bi bi-person"></i> Mi Perfil
              </a>
            </li>
            <li>
              <button class="dropdown-item" (click)="logout()">
                <i class="bi bi-box-arrow-right"></i> Logout
              </button>
            </li>
          </ul>
        </div>
      </ng-container>

      <!-- Botón de Modo Oscuro -->
      <button class="btn btn-primary ms-2" (click)="toggleDarkMode()">
        <i
          class="bi"
          [ngClass]="{ 'bi-moon': isDarkMode, 'bi-sun': !isDarkMode }"
        ></i>
      </button>
    </div>
  </div>
</nav>

<div *ngIf="loginDisplay" class="d-flex">
  <!-- Sidebar -->
  <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebarCanvas">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title">Menú</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas">
        <p></p>
      </button>
    </div>
    <div class="offcanvas-body">
      <div class="list-group">
        <a
          class="list-group-item list-group-item-action"
          routerLink="/"
          data-bs-dismiss="offcanvas"
        >
          <i class="bi bi-house"></i> Inicio
        </a>
        <a
          class="list-group-item list-group-item-action mt-2"
          routerLink="/pais"
          data-bs-dismiss="offcanvas"
        >
          <i class="bi bi-globe"></i> Países
        </a>
        <a
          class="list-group-item list-group-item-action mt-2"
          routerLink="informes"
          data-bs-dismiss="offcanvas"
        >
          <i class="bi bi-bar-chart"></i> Informes
        </a>
        <a
          class="list-group-item list-group-item-action mt-2"
          routerLink="/profile"
          data-bs-dismiss="offcanvas"
        >
          <i class="bi bi-person"></i> Mi perfil
        </a>
        <button
          class="list-group-item list-group-item-action list-group-item-danger border-t mt-5"
          (click)="logout()"
          (keydown.enter)="logout()"
          data-bs-dismiss="offcanvas"
        >
          <i class="bi bi-escape"></i> Cerrar sesión
        </button>
      </div>
    </div>
  </div>

  <div id="main-content" class="content flex-grow-1 p-3">
    <!-- Toolbar estilo Fluent UI -->
    <div
      class="toolbar d-flex flex-wrap align-items-center justify-content-between mb-3"
    >
      <!-- Sección Izquierda (Menú, Botón Volver, Breadcrumb) -->
      <div class="d-flex align-items-center gap-2">
        <!-- Botón menú sidebar -->
        <button
          class="btn btn-secondary mb-2"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#sidebarCanvas"
        >
          <i class="bi bi-list"></i>
        </button>

        <div class="toolbar-actions">
          <!-- Botón Volver para pantallas grandes -->
          <button
            *ngIf="!isHomePage"
            class="btn btn-secondary mb-2 d-none d-md-inline-flex"
            (click)="goBack()"
          >
            <i class="bi bi-chevron-left"></i> Volver
          </button>

          <!-- Botón Volver para móviles (solo ícono) -->
          <button
            *ngIf="!isHomePage"
            class="btn btn-secondary mb-2 d-md-none"
            (click)="goBack()"
          >
            <i class="bi bi-chevron-left"></i>
          </button>
        </div>

        <!-- En tu toolbar -->

        <!-- Breadcrumb -->
        <!-- breadcrumb.component.html -->
        <nav aria-label="breadcrumb" class="ms-2 mb-2">
          <app-breadcrumb></app-breadcrumb>
        </nav>
      </div>

      <!-- Sección Derecha (Opciones futuras) -->
      <div class="toolbar-actions">
        <!-- Botón para pantallas grandes -->
        <button
          *ngIf="showNewProjectButton"
          class="btn btn-secondary d-none d-md-inline-flex mb-2"
          (click)="abrirModalCrearProyecto()"
        >
          <i class="fas fa-plus"></i> Nuevo Proyecto
        </button>

        <!-- Botón para móviles -->
        <button
          *ngIf="showNewProjectButton"
          class="btn btn-secondary d-inline-flex d-md-none mb-2"
          (click)="abrirModalCrearProyecto()"
        >
          <i class="bi bi-plus"></i>
        </button>

        <!-- Botón para abrir el modal -->
        <button
          *ngIf="showNewProcessButton"
          class="btn btn-secondary d-none d-md-inline-flex mb-2"
          (click)="abrirModalCrearProceso()"
        >
          <i class="fas fa-plus"></i> Nuevo proceso
        </button>

        <!-- Botón para móviles -->
        <button
          *ngIf="showNewProcessButton"
          class="btn btn-secondary d-md-none"
          (click)="abrirModalCrearProceso()"
        >
          <i class="bi bi-plus"></i>
        </button>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>

<router-outlet *ngIf="!loginDisplay"></router-outlet>

<!-- Fuera del toolbar, al final del archivo -->
<app-crear-proyecto
  *ngIf="mostrarModalProyecto"
  [paisId]="paisId || 0"
  (proyectoCreado)="onProyectoCreado($event)"
  (cerrarModal)="cerrarModalProyecto()"
>
</app-crear-proyecto>

<app-crear-proceso
*ngIf="mostrarModalProceso"
></app-crear-proceso>
