<div class="containerSociedades">
    <div class="card sociedad-card" *ngFor="let sociedad of sociedades" 
         (click)="seleccionarSociedad(sociedad.idsociedad)" tabindex="0" 
         (keydown.enter)="seleccionarSociedad(sociedad.idsociedad)">
      <div class="card-body">
        <h3 class="sociedad-name">{{ sociedad.nombresociedad }}</h3>
        <p class="sociedad-id">COD: {{ sociedad.idsociedad }}</p>
        <a (click)="seleccionarSociedad(sociedad.idsociedad)" class="btn btn-outline-primary view-link" 
           (keydown.enter)="seleccionarSociedad(sociedad.idsociedad)" tabindex="0">
          Ver detalles
          <i class="bi bi-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
  