
.containerLogin {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Sección izquierda */
.left-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-right: solid 1px var(--md-sys-color-on-background);
}

/* Contenido del login */
.login-content {
    max-width: 350px;
    width: 100%;
}

/* Botón de login */
.login-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.login-button button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.login-button:hover {
    transform: scale(1.05);
}

/* Sección derecha */
.right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem;

}
/*icono microfost*/
.icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}
/* Logo */
.logo {

    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.logo mat-icon {
    margin-right: 10px;
    font-size: 2rem;
}

/* RESPONSIVE */

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .left-section, .right-section {
        width: 100%;
        padding: 1.5rem;
        border: none;
    }

    .right-section {
        padding: 2rem 1.5rem;
    }
}

@media (max-width: 480px) {
    .login-content {
        max-width: 90%;
    }

    .right-section h2 {
        font-size: 1.5rem;
    }

    .right-section p {
        font-size: 1rem;
    }

    .login-button button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }
}

